.header{
  margin-top: 2px;
  border: 1px solid #393D8F;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #393D8F;
  color: #fff;
  width: 100%;
  height: 150px;
}

.header strong{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  font-size: 25px;
}


.menu:hover{
  cursor: pointer;
}
